html, body{
    height: 100%;
    width: 100%;
    background-color: #B5DFE7;
    font-family: 'Comfortaa', cursive;
    overflow: hidden;
}
div {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
h1{
    color: #DE5B15;
    font-size: 170px;
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: #787471;
}